@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {

	box-sizing: border-box;
}

body {
	background-color: #5536c3;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: rgb(241, 241, 245);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #4c76e9;
	background-color: #8896f4;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}


.form button {
	background-color: #1053da;
	border: 2px solid #103fda;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
    box-shadow: 0 3px 0 #87e084;
    cursor: pointer;
}

.form button:hover{
    background-color: #8da4c4;
	border: 2px solid #9a7edf;
    box-shadow: 0 3px 0 #a07add;

}

.form-inline{
    border:1px solid #f0f0f0;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input{
    display: inline-block;
    width: auto;
    padding-right: 50px;
}

.error{
    color: red;
    font-size: 90%;
}

.input-1{
    background-image: url(images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid #f0f0f0;
}

.input-2{
    background-image: url(images/cancel.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid red
}

.input-3{
    border: 1px solid #f0f0f0;
}

.input-4{
    border: 1px solid red;
}

select{
    outline: none!important;
}
